<div class="comment-section">
  <h4>Comments</h4>

  <!-- Comment input -->
  <div class="add-comment">
    <form [formGroup]="commentForm" (ngSubmit)="addComment()">
      <input type="text" placeholder="Add a comment" formControlName="newComment" />
      <button type="submit" [disabled]="!commentForm.valid">Post</button>
    </form>
  </div>

  <!-- Loading indicator -->
  <div *ngIf="loading">Loading comments...</div>

  <!-- Comment list -->
  <ul>
    <li *ngFor="let comment of comments">
      <div *ngIf="editingCommentId !== comment._id">
        {{ comment.text }}
        <br />
        <small>{{ comment.createdAt | date: 'short' }}</small>
        <br />
        <button (click)="startEdit(comment)">Edit</button>
        <button (click)="deleteComment(comment._id)">Delete</button>
      </div>

      <div *ngIf="editingCommentId === comment._id">
        <input type="text" [(ngModel)]="editText" />
        <button (click)="saveEdit()">Save</button>
        <button (click)="cancelEdit()">Cancel</button>
      </div>
    </li>
  </ul>

  <!-- Empty state -->
  <div *ngIf="!loading && comments.length === 0">
    <em>No comments yet.</em>
  </div>
</div>
